body {
  background: #eeeeee;
}
.navigation {
  background-color: black;
  height: 100px;
  width: 100vw;
  top: 0%;
  position: fixed;
  z-index: 999;
}

.navigation .logo img {
  width: 127px;
}

.navigation .logo {
  position: absolute;
  top: 18px;
  left: 29px;
}

.navigation .menu a {
  text-decoration: none;
  color: #fff4cb;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 2.5px;
}

.navigation .menu {
  width: 400px;
  position: absolute;
  top: 53px;
  left: calc(100vw - 580px);
}
.navigation .menu li {
  display: inline-block;
  padding: 0px 15px;
}
.headline {
  left: 880px;
  top: 173px;
  position: absolute;
  color: black;
  font-size: 40px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
}
.top-line {
  width: 495px;
  height: 0px;
  left: 713px;
  top: 246px;
  position: absolute;
  border: 1px #d9d9d9 solid;
}
.subline {
  left: 852px;
  top: 261px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  text-align: center;
}

.content {
  display: flex;
  height: calc(100vh - 100px);
}

.button1 {
  width: 253px;
  height: 66px;
  left: 200px;
  top: 328px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px #f1f1f1 solid;

  color: #000000;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
}
.button2 {
  width: 253px;
  height: 66px;
  left: 453px;
  top: 328px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px #f1f1f1 solid;

  color: #000000;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
}
.button3 {
  width: 253px;
  height: 66px;
  left: 707px;
  top: 328px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px #f1f1f1 solid;

  color: #000000;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
}
.button4 {
  width: 253px;
  height: 66px;
  left: 960px;
  top: 328px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px #f1f1f1 solid;

  color: #000000;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
}
.button5 {
  width: 253px;
  height: 66px;
  left: 1213px;
  top: 328px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px #f1f1f1 solid;

  color: #000000;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
}
.button6 {
  width: 253px;
  height: 66px;
  left: 1466px;
  top: 328px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px #f1f1f1 solid;

  color: #000000;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
}
button:hover {
  background: rgb(0, 0, 0);
  color: #fff4cb;
}
.whitebackground {
  width: 878px;
  height: 902px;
  left: 842px;
  top: 463px;
  position: absolute;
  background: white;
}
.p4 {
  width: 96px;
  left: 991px;
  top: 526px;
  position: absolute;
  color: black;
  font-size: 24px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}
.lovebunny {
  left: 991px;
  top: 594px;
  position: absolute;
}

.p5 {
  color: black;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
}
.p6 {
  font-family: Inria Sans;
  color: black;
  font-size: 24px;
  font-weight: 700;
  word-wrap: break-word;
}
.p7 {
  width: 96px;
  left: 1496px;
  top: 632px;
  position: absolute;
  opacity: 0.96;
  color: #828282;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
.white {
  width: 878px;
  height: 902px;
  left: 842px;
  top: 463px;
  position: absolute;
  background: #ffffff;
}
.black {
  width: 642px;
  height: 902px;
  left: 200px;
  top: 463px;
  position: absolute;
  background: black;
}

.black img {
  width: 400px;

  left: 120px;
  top: 300px;
  position: absolute;
}

.regulardonate {
  width: 311px;
  height: 66px;
  left: 970px;
  top: 691px;
  position: absolute;
  background: #ffffff;
  color: #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
  border: 1px #f1f1f1 solid;
}
.oncedonate {
  width: 311px;
  height: 66px;
  left: 1281px;
  top: 691px;
  position: absolute;
  background: #ffffff;
  color: #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
  border: 1px #f1f1f1 solid;
}
.dollars2000 {
  background: #ffffff;
  width: 622px;
  height: 65px;
  left: 970px;
  top: 895px;
  position: absolute;
  border-radius: 5px;
  border: 2px #c5c5c5 solid;
  text-align: left;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  padding-left: 22px;
}
.dollars2000 span2 {
  left: 550px;
  position: absolute;
}
.dollars1000 span2 {
  left: 550px;
  position: absolute;
}
.dollars666 span2 {
  left: 550px;
  position: absolute;
}

.dollars1000 {
  background: #ffffff;
  width: 622px;
  height: 65px;
  left: 970px;
  top: 972px;
  position: absolute;
  border-radius: 5px;
  border: 2px #c5c5c5 solid;
  text-align: left;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  padding-left: 22px;
}
.dollars666 {
  background: #ffffff;
  width: 622px;
  height: 65px;
  left: 970px;
  top: 1049px;
  position: absolute;
  border-radius: 5px;
  border: 2px #c5c5c5 solid;
  text-align: left;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  padding-left: 22px;
}

donatebutton:hover {
  background: rgb(0, 0, 0);
  color: #fff4cb;
}

.nextpart {
  width: 622px;
  height: 65px;
  left: 970px;
  top: 1222px;
  position: absolute;
  background: #fff4cb;
  border-radius: 5px;
  border: 2px black solid;
  font-size: 18px;
  font-family: Inter;
  font-weight: 700;
  word-wrap: break-word;
}
.bottom {
  left: 914px;
  top: 1447px;
  position: absolute;
  color: #828282;
  font-size: 12px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}

.ball1 {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  left: 1042px;
  top: 791px;
  position: absolute;
  display: flex;
  background: #fff4cb;
  color: rgb(0, 0, 0);
  border-radius: 9999px;
  border: 2px #000000 solid;
  align-items: center;
  justify-content: center;
}
.ball2 {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  left: 1189px;
  top: 791px;
  position: absolute;
  display: flex;
  background: #f1f1f1;
  border-radius: 9999px;
  border: 2px #c5c5c5 solid;
  align-items: center;
  justify-content: center;
  color: #828282;
}
.ball3 {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  left: 1336px;
  top: 791px;
  position: absolute;
  display: flex;
  background: #f1f1f1;
  border-radius: 9999px;
  border: 2px #c5c5c5 solid;
  align-items: center;
  justify-content: center;
  color: #828282;
}
.ball4 {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  left: 1483px;
  top: 791px;
  position: absolute;
  display: flex;
  background: #f1f1f1;
  border-radius: 9999px;
  border: 2px #c5c5c5 solid;
  align-items: center;
  justify-content: center;
  color: #828282;
}
input {
  background-color: #ffffff;
  width: 127px;
  left: 975px;
  top: 1141px;
  position: absolute;
  color: #828282;
  font-size: 22px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
.bottom-line {
  width: 618.5px;
  height: 0px;
  left: 972px;
  top: 1186px;
  position: absolute;
  border: 2px #f1f1f1 solid;
}
.ballline {
  width: 112px;
  height: 0px;
  left: 1078px;
  top: 810px;
  position: absolute;
  border: 2px #f1f1f1 solid;
}
.ballline {
  width: 112px;
  height: 0px;
  left: 1078px;
  top: 810px;
  position: absolute;
  border: 2px #f1f1f1 solid;
}
.ballline2 {
  width: 112px;
  height: 0px;
  left: 1225px;
  top: 810px;
  position: absolute;
  border: 2px #f1f1f1 solid;
}

.ballline3 {
  width: 112px;
  height: 0px;
  left: 1372px;
  top: 810px;
  position: absolute;
  border: 2px #f1f1f1 solid;
}
.donatepart1 {
  left: 1024px;
  top: 835px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
.donatepart2 {
  left: 1162px;
  top: 835px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
.donatepart3 {
  left: 1318px;
  top: 835px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
.donatepart4 {
  left: 1465px;
  top: 835px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
.footer {
  left: 914px;
  top: 1470px;
  position: absolute;
  color: black;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
.helpword {
  left: 71px;
  top: 65px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
}
.helpword2 {
  left: 71px;
  top: 128px;
  position: absolute;
  color: white;
  font-size: 16px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
