body {
  background: #eeeeee;
  width: 1920px;
}
.navigation {
  background-color: black;
  height: 100px;
}

.navigation .logo img {
  width: 127px;
}

.navigation .logo {
  position: absolute;
  top: 18px;
  left: 29px;
}

.navigation .menu a {
  text-decoration: none;
  color: #fff4cb;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 2.5px;
}

.navigation .menu {
  width: 400px;
  position: absolute;
  top: 53px;
  left: calc(100vw - 580px);
}
.navigation .menu li {
  display: inline-block;
  padding: 0px 15px;
}
.footer {
  left: 914px;
  top: 1050px;
  position: absolute;
  color: black;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.content {
  width: 1520px;
  height: 845px;
  left: 200px;
  top: 156px;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  background: #fff4cb;
}

.black {
  width: 642px;
  height: 845px;
  left: 0px;
  top: 0px;
  position: absolute;
  background: black;
}
.helpword {
  left: 71px;
  top: 65px;
  position: absolute;
  color: white;
  font-size: 40px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
}
.helpword2 {
  left: 71px;
  top: 128px;
  position: absolute;
  color: white;
  font-size: 16px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
.white {
  width: 878px;
  height: 845px;
  left: 642px;
  top: 0px;
  position: absolute;
  background: white;
}

.donatepartline1 {
  width: 112px;
  height: 0px;
  left: 878px;
  top: 281px;
  position: absolute;
  border: 2px #fff4cb solid;
}
.donatepartline2 {
  width: 112px;
  height: 0px;
  left: 1025px;
  top: 281px;
  position: absolute;
  border: 2px #f1f1f1 solid;
}

.donatepartline3 {
  width: 112px;
  height: 0px;
  left: 1172px;
  top: 281px;
  position: absolute;
  border: 2px #f1f1f1 solid;
}
.nextpart {
  width: 237px;
  height: 65px;
  left: 1155px;
  top: 695px;
  position: absolute;
  background: #fff4cb;
  border-radius: 5px;
  border: 2px black solid;
}
.backpart {
  width: 237px;
  height: 65px;
  left: 770px;
  top: 695px;
  position: absolute;
  background: white;
  border-radius: 5px;
  border: 1px #828282 solid;
}
.regulardonate {
  position: absolute;
  background: #000000;
  color: #fff4cb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
  border: 1px #f1f1f1 solid;
  width: 622px;
  height: 66px;
  left: 770px;
  top: 162px;
}
.lovebunny {
  left: 791px;
  top: 65px;
  position: absolute;
}
.p5 {
  color: black;
  font-size: 24px;
  font-family: Noto Sans TC;
  font-weight: 700;
  word-wrap: break-word;
}
.p6 {
  font-family: Inria Sans;
  color: black;
  font-size: 24px;
  font-weight: 700;
  word-wrap: break-word;
}
.ball1 {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  left: 842px;
  top: 262px;
  position: absolute;
  display: flex;
  background: #fff4cb;
  color: rgb(0, 0, 0);
  border-radius: 9999px;
  border: 2px #000000 solid;
  align-items: center;
  justify-content: center;
}
.ball2 {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  left: 989px;
  top: 262px;
  position: absolute;
  display: flex;
  background: #fff4cb;
  border-radius: 9999px;
  border: 2px #000000 solid;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.ball3 {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  left: 1136px;
  top: 262px;
  position: absolute;
  display: flex;
  background: #f1f1f1;
  border-radius: 9999px;
  border: 2px #c5c5c5 solid;
  align-items: center;
  justify-content: center;
  color: #828282;
}
.ball4 {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  left: 1283px;
  top: 262px;
  position: absolute;
  display: flex;
  background: #f1f1f1;
  border-radius: 9999px;
  border: 2px #c5c5c5 solid;
  align-items: center;
  justify-content: center;
  color: #828282;
}
.donatepart1 {
  left: 824px;
  top: 306px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
.donatepart2 {
  left: 962px;
  top: 306px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
.donatepart3 {
  left: 1118px;
  top: 306px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
.donatepart4 {
  left: 1265px;
  top: 306px;
  position: absolute;
  color: black;
  font-size: 18px;
  font-family: Noto Sans TC;
  font-weight: 400;
  word-wrap: break-word;
}
.inputword input {
  width: 301px;
  height: 51px;
  left: 770px;
  top: 366px;
  position: absolute;
  border: 1px #828282 solid;
  border-color: #828282;
  padding: 10px;
  outline-color: #fff4cb;
}
.inputname input {
  width: 301px;
  height: 51px;
  left: 1091px;
  top: 366px;
  padding: 10px;
  position: absolute;
  border: 1px #828282 solid;

  outline-color: #fff4cb;
}
.inputemail input {
  width: 622px;
  height: 51px;
  left: 770px;
  top: 436px;
  position: absolute;
  border: 1px #828282 solid;
  padding: 10px;
  outline-color: #fff4cb;
}
.inputnumber input {
  width: 622px;
  height: 51px;
  left: 770px;
  top: 506px;
  position: absolute;
  border: 1px #828282 solid;
  padding: 10px;
  outline-color: #fff4cb;
}
.check {
  height: 25px;
  left: 770px;
  top: 573px;
  position: absolute;
  border-radius: 3px;
}
.check:checked {
  background-color: aquamarine;
  color: #000000;
}

.black img {
  width: 400px;

  left: 120px;
  top: 300px;
  position: absolute;
}
