body {
  width: 100vw;
  height: 4515px;
  display: flex;
  background-color: #f1f1f1;
}
.biglogo img {
  width: 653px;
  height: 317px;
  position: absolute;
  left: calc(50% - 376px);
  top: 352px;
}
.scroll {
  width: 84px;
  height: 84px;
  position: fixed;
  left: calc(50% - 42px);
  top: 968px;
}
.smalllogo3 {
  width: 96px;
  height: 320px;
  position: fixed;
  right: 55px;
  top: 687px;
  z-index: 990;
}
.smalllogo3 img {
  width: 96px;
  height: 107px;
}
.stair img {
  width: 879px;
  height: 736px;
  position: absolute;
  left: 151px;
  top: 867px;
}
.stone img {
  width: 1920px;
  height: 1508px;
  position: absolute;

  top: 1326px;
}

.topword {
  color: #000000;
  width: 462px;
  height: 72px;
  font-family: Noto Sans TC;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 231px);
  top: 832px;
  display: flex;
  justify-content: center;
}
.topword2 {
  color: #000000;
  width: 462px;
  height: 72px;
  font-family: Noto Sans TC;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 231px);
  top: 868px;
  z-index: 999;
}
.rabbitword {
  left: 1559px;
  top: 1228px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
.rabbitword2 {
  left: 1559px;
  top: 1264px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
.eleword {
  width: 200px;
  left: 62px;
  top: 1657px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1.6em;
}
.eleword2 {
  left: 62px;
  top: 1729px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
.gooseeword {
  left: 1500px;
  top: 2116px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}
.gooseword2 {
  left: 1500px;
  top: 2152px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
}

.sealword {
  width: 240px;
  left: 459px;
  top: 2570px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1.6em;
  z-index: 994;
}
.turword {
  left: 1594px;
  top: 3120px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  z-index: 994;
}
.turword2 {
  left: 1594px;
  top: 3156px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  z-index: 994;
}
.sharkword {
  width: 240px;
  left: 170px;
  top: 3281px;
  position: absolute;
  color: black;
  font-size: 20px;
  font-family: Inter;
  font-weight: 400;
  word-wrap: break-word;
  line-height: 1.6em;
  z-index: 994;
}
.footer {
  color: #f1f1f1;
  font-family: Noto Sans TC;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 46px);
  top: 4470px;
}
.black {
  width: 100vw;
  height: 824px;
  position: absolute;
  top: 3691px;
  background-color: black;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  z-index: 993;
}

.black img {
  width: 1261px;
  height: 199px;
  top: calc(100% - 407px);
  position: absolute;
  background-color: black;
}
.into {
  width: 198px;
  height: 65px;
  left: calc(50% - 99px);
  bottom: calc(100% - 291px);
  position: absolute;
  background: white;
  border-radius: 5px;
}
.ele {
  width: 669px;
  height: 645px;
  position: absolute;
  left: 175px;
  top: 1430px;
  z-index: 998;
  background-image: url(../img/動物集合加局部細節~-04\ 2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.ele:hover {
  width: 669px;
  height: 645px;
  position: absolute;
  left: 175px;
  top: 1430px;
  z-index: 998;
  background-image: url(../img/ele2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.ele:active {
  width: 669px;
  height: 645px;
  position: absolute;
  left: 167px;
  top: 1480px;
  z-index: 998;
  background-image: url(../img/ele3.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.rab {
  width: 453px;
  height: 451px;
  position: absolute;
  left: 1240px;
  top: 1042px;
  z-index: 997;
  background-image: url(../img/ra2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.rab:hover {
  width: 453px;
  height: 451px;
  position: absolute;
  left: 1225px;
  top: 1036px;
  z-index: 997;
  background-image: url(../img/rab2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.rab:active {
  width: 453px;
  height: 451px;
  position: absolute;
  left: 1230px;
  top: 1130px;
  z-index: 997;
  background-image: url(../img/rab3.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.seal {
  width: 519px;
  height: 516px;
  position: absolute;
  left: 191px;
  top: 2566px;
  z-index: 996;
  background-image: url(../img/seal1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.seal:hover {
  width: 519px;
  height: 516px;
  position: absolute;
  left: 240px;
  top: 2566px;
  z-index: 996;
  background-image: url(../img/seal2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.seal:active {
  width: 519px;
  height: 516px;
  position: absolute;
  left: 260px;
  top: 2566px;
  z-index: 996;
  background-image: url(../img/seal3.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.goo {
  width: 454px;
  height: 451px;
  position: absolute;
  left: 1235px;
  top: 2002px;
  z-index: 995;
  background-image: url(../img/goo1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.goo:hover {
  width: 454px;
  height: 451px;
  position: absolute;
  left: 1185px;
  top: 2002px;
  z-index: 995;
  background-image: url(../img/goo2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.goo:active {
  width: 454px;
  height: 451px;
  position: absolute;
  left: 1155px;
  top: 2002px;
  z-index: 995;
  background-image: url(../img/goo3.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.tur {
  width: 297px;
  height: 272px;
  position: absolute;
  left: 1301px;
  top: 2983px;
  z-index: 994;
  background-image: url(../img/tur1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.tur:hover {
  width: 303px;
  height: 292px;
  position: absolute;
  left: 1301px;
  top: 2970px;
  z-index: 994;
  background-image: url(../img/tur2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.tur:active {
  width: 303px;
  height: 292px;
  position: absolute;
  left: 1298px;
  top: 2970px;
  z-index: 994;
  background-image: url(../img/tur3png.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.sha {
  width: 811px;
  height: 812px;
  position: absolute;
  left: 244px;
  top: 2985px;
  z-index: 993;
  background-image: url(../img/shark1.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.sha:hover {
  width: 811px;
  height: 812px;
  position: absolute;
  left: 244px;
  top: 2957px;
  z-index: 993;
  background-image: url(../img/shark2.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.sha:active {
  width: 811px;
  height: 812px;
  position: absolute;
  left: 244px;
  top: 2957px;
  z-index: 993;
  background-image: url(../img/shark3.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
.bottomword {
  color: #ffffff;
  width: 572px;
  height: 32px;
  font-family: Noto Sans TC;
  font-size: 22px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 286px);
  bottom: 662px;
  display: flex;
  justify-content: center;
}
.st img {
  width: 600px;
  height: 600px;
}
.xmove {
  position: absolute;
  width: 1920px;
  height: 1462px;
}
.cloud {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: fit-content;
  height: fit-content;
  z-index: 999;
}
@keyframes cloud1 {
  0% {
    left: 5vw;
    top: 5vh;
    opacity: 1;
    visibility: visible;
  }
  100% {
    left: 100vw;
    top: 100vh;
    opacity: 0.1;
    visibility: hidden;
  }
}

@-webkit-keyframes cloud1 {
  0% {
    left: 5vw;
    top: 5vh;
    opacity: 1;
    visibility: visible;
  }
  100% {
    left: 100vw;
    top: 100vh;
    opacity: 0.1;
    visibility: hidden;
  }
}
@keyframes cloud2 {
  0% {
    left: 5vw;
    bottom: 5vh;
    opacity: 1;
    visibility: visible;
  }
  100% {
    left: 100vw;
    bottom: 100vh;
    opacity: 0.1;
    visibility: hidden;
  }
}

@-webkit-keyframes cloud2 {
  0% {
    left: 5vw;
    bottom: 5vh;
    opacity: 1;
    visibility: visible;
  }
  100% {
    left: 100vw;
    bottom: 100vh;
    opacity: 0.1;
    visibility: hidden;
  }
}
@keyframes cloud3 {
  0% {
    right: 5vw;
    top: 5vh;
    opacity: 1;
    visibility: visible;
  }
  100% {
    right: 100vw;
    top: 100vh;
    opacity: 0.1;
    visibility: hidden;
  }
}

@-webkit-keyframes cloud3 {
  0% {
    right: 5vw;
    top: 5vh;
    opacity: 1;
    visibility: visible;
  }
  100% {
    right: 100vw;
    top: 100vh;
    opacity: 0.1;
    visibility: hidden;
  }
}
@keyframes cloud4 {
  0% {
    right: 5vw;
    bottom: 5vh;
    opacity: 1;
    visibility: visible;
  }
  100% {
    right: 100vw;
    bottom: 100vh;
    opacity: 0.1;
    visibility: hidden;
  }
}

@-webkit-keyframes cloud4 {
  0% {
    right: 5vw;
    bottom: 5vh;
    opacity: 1;
    visibility: visible;
  }
  100% {
    right: 100vw;
    bottom: 100vh;
    opacity: 0.1;
    visibility: hidden;
  }
}
#cloud1 {
  left: 5vw;
  top: 5vh;
  animation: cloud1 8s forwards;
  -webkit-animation: cloud1 8s forwards;
  z-index: 999;
}

#cloud2 {
  left: 5vw;
  bottom: 5vh;
  animation: cloud2 8s forwards;
  -webkit-animation: cloud2 8s forwards;
  z-index: 999;
}

#cloud3 {
  right: 5vw;
  top: 5vh;
  animation: cloud3 8s forwards;
  -webkit-animation: cloud3 8s forwards;
  z-index: 999;
}

#cloud4 {
  right: 5vw;
  bottom: 5vh;
  animation: cloud4 8s forwards;
  -webkit-animation: cloud4 8s forwards;
  z-index: 999;
}
.pinksea img {
  width: 100vw;
  height: 1964px;
  top: 2202px;
  position: absolute;
}
