.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
body {
  background-color: #f9f9f7;
  background-image: url(../img/背景圖.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 149px;
}
.ntua_kitchen {
  background-color: #474747;
  color: #ffffff;
  height: 45px;
}
.ntua_kitchen ul li {
  display: inline-block;
}
.ntua_kitchen .info {
  position: absolute;
  top: 5px;
  left: 150px;
}
.ntua_kitchen .info ul {
  text-align: left;
  display: inline-block;
  padding: 5px;
}
.ntua_kitchen .info ul li {
  vertical-align: middle;
}
.ntua_kitchen .social ul {
  position: absolute;
  top: 9px;
  left: calc(100vw - 275px);
}
.ntua_kitchen .social img {
  background-color: rgb(249, 249, 247, 12%);
  width: 17px;
  height: 17px;
  padding: 5px;
  border-radius: 50px;
}
/*分段*/
/*設定logo樣式*/
.header .logo .noodle img {
  width: 56px;
}
.header .logo .kitchen img {
  width: 325px; /*~~~~~~~如何嵌入google字體*/
  padding: 8px;
}
/*設定menu樣式*/
.header .menu a {
  text-decoration: none;
  color: #2c2f24;
  padding: 4px 16px;
  border-radius: 34px;
}
.header .menu a:hover {
  background-color: #dbdfd0;
}
/*設定button樣式*/
.header button {
  font-size: 16px;
  background-color: #f9f9f7;
  border-radius: 118px;
  border-color: #2c2f24;
  /*border: 1.5px;＊//*~~~~~為何無效*/
  font-weight: 600;
  padding: 12px 24px;
  gap: 10px;
}
/*並排對齊header*/
.header ul {
  display: inline-block;
}
.header ul li {
  display: inline-block;
  vertical-align: middle;
}
/*排排站*/
.header {
  position: absolute;
  top: 74px;
  left: 151.5px;
}
.header .menu {
  position: absolute;
  left: 554.8px;
  top: 11.5px;
  width: 435.6px;
  text-align: justify; /*~~~~~~為何無效*/
}
.header .button {
  position: absolute;
  left: 1163.5px;
  height: 48px;
  top: 3.5px;
  width: 120px;
}
/*白色圈圈*/

/*台藝廚房*/
h2 {
  position: absolute;
  text-align: center;
  width: 667px;
  top: 356px;
  left: calc(50% - 333.5px);
  gap: 40px;
  font-size: 100px;
}
/*快來發現浮州美食*/
.float {
  position: absolute;
  text-align: center;
  width: 537px;
  top: 516px;
  left: calc(50% - 268.5px);
}
/*order button*/
/*樣式*/
.order button {
  width: 128px;
  height: 64px;
  padding: 20px 32px;
  border-radius: 118px;
  gap: 10px;
  color: #2c2f24;
  background-color: #f9f9f7;
  border-color: #2c2f24;
  margin: 6px;
  /*border: 1.5px;*/
}
.order button:hover {
  background-color: #ad3431;
  color: #ffffff;
  border-color: #ad3431;
}
/*並排*/
.order li {
  display: inline-block;
}
/*排排站*/
.order {
  position: absolute;
  top: 620px;
  left: calc(50% - 142px);
}
