.top {
  background-color: #474747;
  display: flex;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
}
.top_bar {
  background-color: #474747;
  display: inline-flex;
  align-items: center;
}
.number {
  padding-left: 10px;
}
.mail {
  padding-left: 30px;
}
.social {
  background-color: #474747;
  width: calc(100% - 450px);
  display: inline-flex;
  flex-direction: row-reverse;
}

.logo {
  background-color: #f9f9f7;
  width: 400px;
  display: inline-flex;
  vertical-align: middle;
}

.hero {
  background-color: #f9f9f7;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 10px;
  padding-left: 100px;
}
.menu {
  padding-left: 16%;
  display: inline-flex;
}
.menu ul {
  display: inline-flex;
  text-decoration: none;
  vertical-align: middle;
  align-items: center;
}
.menu ul li a {
  color: #000000;
  vertical-align: middle;
  padding: 28px;
  margin: 2px;
  text-decoration: none;
  align-items: center;
  flex-direction: row;
}

.menu ul li button {
  color: #000000;

  padding: 18px;
  margin: 2px;
  text-decoration: none;
  align-items: center;
  flex-direction: row;
  border-radius: 60px;
  padding: 10px 10px 10px 10px;
  padding-inline: 6px;
  font-weight: 700;
  margin-left: 150px;
}
.ntua_vcd_nav_title {
  text-decoration: none;
  padding-top: 100px;
  margin: 70px;
  text-align: center;
}
.ntua_vcd_nav_subtitle {
  text-decoration: none;
  margin: 40px;
  text-align: center;
}

.menu ul li :hover {
  border-radius: 90px;
  padding: 0px 10px 0px 10px;
  background-color: #d8dfd0;
}

body {
  background-image: url(../img/image\ 110.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 49px;
}

.button {
  text-align: center;
  display: flex;
  justify-content: center;
}
.button :hover {
  background-color: #ad343e;
  color: #ffffff;
  border-style: none;
}
.button1 {
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  border-radius: 50px;
  margin: 30px;
  padding: 20px;
}
.button2 {
  background-color: #ffffff;
  color: #000000;
  font-size: 15px;
  border-radius: 50px;
  margin: 30px;
  padding: 20px;
}
